* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

button {
    border-radius: .33rem;
    height: 2rem;
    width: 2rem;
    border: none;
    background-color: var(--dark-bg);
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

:root {
    --accent: #7E8BFF;
    --dark-bg: #2C323B;
}

body {
    background-color: #313C48;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 5rem auto 0;
}

.container .header {
    padding: .5rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 2rem;
}

.container .header button {
    background-color: var(--accent);
    font-size: 1.2rem;
}

ul.friends-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}
ul.friends-list li {
    background-color: var(--dark-bg);
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: .33rem;
}


li img {
    max-width: 3rem;
    border-radius: 50%;
    border: 3px solid var(--accent);
}

li .name-group {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

li .name-group p:last-of-type {
    font-size: .8rem;
    opacity: 0.5;
}

li p.email {
    margin-left: auto;
    font-size: .9rem;
    color: var(--accent);
}


.pagination-container {
    margin: 3rem auto 0;
    display: block;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.pagination-container button.active {
    background-color: var(--accent);
}